<h1>Room: '{{roomName}}'</h1>
<h2>Id: {{roomId}}</h2>
<div class="chats-container">
    <!--
    <div class="message">
        <div class="msg-meta">
            <div class="mm-author">
                Random Author
            </div>
            <div class="mm-date">
                00/00/0000 @ 00:00 UTC
            </div>
        </div>
        <div class="msg-contents">
            Testing Message
        </div>
    </div>
    -->
</div>

<div class="create-message-container">
    <input type="text" placeholder="Message this chatroom" id="msgtext">
    <button onclick="sendMessage()">Send</button>
</div>

<script src="js/chatroomClient.js"></script>